{% extends 'sancfis/main_agentsSancfis.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<header>

</header>
<body>

<br><br>

<div class="row">
    <div class="container col-md-6 col-md-offset-3">
        <div class="card bg-dark text-white">
            <div class="card card-header">
                <div class="card-title" style="text-align: center; font-size: 25px;">
                    FORMULAIRE LABORATOIRE
                </div>
                <div class="card-body">

                    <form action="" method="POST">
                        
                        {% csrf_token %}

                        {{ form1.username | as_crispy_field }}
                        {{ form.designation | as_crispy_field }}
                        {{ form1.email | as_crispy_field }}
                        {{ form.adresse | as_crispy_field }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.ville | as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.pays | as_crispy_field }}
                            </div>
                        </div>
                        {{ form.telephone | as_crispy_field }}
                        {{ form1.password1 | as_crispy_field }}
                        {{ form1.password2 | as_crispy_field }}


                        <br>

                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-light btn-block" type="submit" name="submit">
                                    valider formulaire
                                </button>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-danger btn-block" href="{% url 'laboratoire_sancfis' %}">Annuler</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Nom Utilisateur.....';
    form_fields[2].placeholder = 'Désignation.....';
    form_fields[3].placeholder = 'Email.....';
    form_fields[4].placeholder = 'Adresse.....';
    form_fields[5].placeholder = 'Ville.....';
    form_fields[6].placeholder = 'Pays.....';
    form_fields[7].placeholder = 'Téléphone.....';
    form_fields[8].placeholder = 'Mot de passe.....';
    form_fields[9].placeholder = 'Confirmer mot de passe.....';

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }

</script>

</body>
</html>

{% endblock %}