{% extends 'labo/main_agentsLabo.html' %}

{% block content %}

<br>

<div class="row">
    <div class="container col-md-10 col-md-offset-1">
        <h5>AGENT SANCFIS :</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-success btn-sm btn-block" href="">Ajouter Assurance</a>
            <table class="table table-sm">
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Profession</th>
                    <th>Code postal</th>
                    <th>Ville</th>
                </tr>
                <tr>
                </tr>
            </table>
        </div>
    </div>

</div>

{% endblock %}